body{
    background-color: black;


}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* gap: 20px; */
}
.button{
border-radius: 10px;
background-color: rgb(10, 10, 10);
box-shadow: 0px 0px 10px rgb(5, 193, 245);  
padding: 14px;
width: 100px;
font-size: 20px;
gap: 30px;
color: aqua;
text-align: center;
gap: 40px;
cursor:pointer;
}
.bo{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 40px;
}
.button:hover{
    background:linear-gradient(rgb(5, 193, 245),rgb(10, 10, 10));
    color: black;
    transform: scale(1.1);
    transition: 2s;

}
.number{
    color: aqua;
    font-size: 50px;
    text-align: center;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.input > input{
    width: 200px;
    height: 100px;
    border-radius: 10px;
    background-color:#000c;
    box-shadow: 0px 2px 30px rgb(5, 193, 245);
    color: aqua;
    text-align: center;
    font-size: 30px;
    /* grid-area: auto; */
    gap: 30px;

    
}
.result{
    color: aqua;
    font-size: 40px;
    
}
.result:hover:active{
    color: aqua;
    /* font-size: 20px; */

}
alert{
    background-color: black;
    color: aliceblue;
    font-size: 40px;
}