@font-face{
    src: url(fonts/RobotoCondensed-Black.ttf);
    font-family: black;
}
@font-face{
    src: url(fonts/RobotoCondensed-ExtradarkItalic.ttf);
    font-family: blacked;
}

*{
    padding: 0;
    margin: 0;
    list-style: none;
}
/* a{
    width: 70px;
    text-decoration: none;
    border: 1px solid rgb(250, 248, 248);
background-color: rgb(233, 236, 239);
box-shadow: 1px 2px 2.5px #1c1818;
color: #000;

font-family: black;
/* display:flex; */

*/ */

.box{
    height: 200px;
    /* width: 240; */
border: 1px solid #000;
display: flex;
flex-direction: column;

}
.box{

    height: 170px;
    width: 150px;
    border: 2px solid #000;
display: flex;
flex-direction: column;
/* grid-template-columns: repeat(2 1fr); */
justify-content:last baseline;
text-align: center;
align-items: center;
/* gap: 3; */
/* margin-top: 2px; */
box-shadow: 1px 2px 2px #000;

}
.parent{
    display: flex;
    flex-direction: row;
}
.c1 ,.c2{
    height: 30px;
    width: 120px;
    border: 1px solid #000;
    gap: 3;
    margin-top: 5px;
text-decoration: none;
/* list-style: none; */
color: #000;
background-color: rgb(36, 38, 39);
box-shadow: 1px 2px 2px #000;
}
a{
    text-decoration: none;
    color: #000;
    font-family: black;
}
/* a:hover{
    text-decoration: none;
    color: #faf6f6;
    font-family: black;
} */
.navbar{
    font-family: blacked;
    width: 100%;
}
.c1:hover{
    transform: scale(1.2);
    transition: 1s;
    color:aliceblue;background-color: #000;

}

.c2:hover{
    transform: scale(1.2);
    transition: 1s;
    color:aliceblue;
    background-color: #000;
}
a{
    color:#fff;
}

@media (max-width:481px){
    .box{
        height: 200px;
        /* width: 240; */
    border: 1px solid #000;
    display: flex;
    flex-direction: column;
    margin: 0 auto;

    }
    .c1 ,.c2{
        height: 30px;
        width: 120px;
        border: 1px solid #000;
        gap: 3;
        margin-top: 5px;
    text-decoration: none;
    /* list-style: none; */
    color: #000;
    background-color: rgb(36, 38, 39);
    box-shadow: 1px 2px 2px #000;
    }
    .parent{
flex-direction: column;
display: grid;
margin-bottom: 20px;
    }
    .navbar{
     text-align: center;

    }
    .img{
        height: 100px;
        width: 100px;
        margin: 0 auto;
       background: #fff;
        margin-top: 12px ;
    /* overflow: hidden; */
    /* box-shadow: 1px 2px 3px #000; */
    margin-left: 49px;
    }
}
@media(max-width:277px){  
    .img{
        height: 100px;
        width: 100px;
         margin:0  auto;
       background: #fff;
        margin-top: 12px ; 
    overflow: ;
    /* box-shadow: 1px 2px 3px #000; */
    margin-right:5cm;
    }
 } 
