
body{
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container{
  position: fixed;
  top: 25rem;
  width: fit-content;
  height: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  position: relative;
  z-index: 1;
  margin: auto;
}
.container>.box{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 50px;
  border: 1px solid black;
  padding: 30px;
  background: repeating-linear-gradient(skyblue, lightgray);
  border-radius: 15px;
  
  font-size: 30px;
}
.container>.box p{
  margin: 0 auto;
  text-align: center;
}